 <div class="thumbnail">
                    <img class="img-responsive" src="http://placehold.it/800x300" alt="">
                    <div class="caption-full">
                        <h4 class="pull-right">Last Updated: <span class="lastModified">Dec. 5, 2016</span></h4>
                        <h4><a href="#">Box 2</a>
                        </h4>
                    <p>Description Paragraph here<a target="_blank" href="http://bootsnipp.com"> Link</a>.</p>
                  <p>Description
                            <strong>Some Description
                            </strong></p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>
                    </div>
                    
                </div>